<html>
  <body>
    <h1>Chef CookBook for Deploying Rails App on Nginx using Puma</h1>

	<a href="http://ec2-54-169-226-110.ap-southeast-1.compute.amazonaws.com/names">Click on the Link to go to Application</a>

	Link : <a href="http://ec2-54-169-226-110.ap-southeast-1.compute.amazonaws.com/names">http://ec2-54-169-226-110.ap-southeast-1.compute.amazonaws.com/names</a>
  </body>
</html>
